<div
    class="row"
    ng-init="data={}; data.baseIri='data:'; data.dists=[]"
    rex-context
    rex-sparql-service="conferenceSparqlService"
    rex-prefix="'sd: http://symbolicdata.org/Data/Model# cc: http://creativecommons.org/ns# ical: http://www.w3.org/2002/12/cal/ical# dcterms: http://purl.org/dc/terms/ rdfs: http://www.w3.org/2000/01/rdf-schema# rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#'"
    rex-lookup="true">


    	Filter conferences:	

    	<input type="text" ng-model="confListService.ctrl.filter.concept" />


	<div ng-repeat="subject in confListService.state.items" rex-subject="subject.id">

		<!-- conference name -->

		<div class="conferenceTitle" rex-predicate="'rdfs:label'" rex-literal="conferenceTitle">
			{{conferenceTitle}}
		</div>
		
		<!-- conference dates -->

		<div>
			<span class="conferenceDates" rex-predicate="'ical:dtstart'" rex-literal="startDate" ng-show="startDate != null">
				from {{startDate}}
			</span>
			<span class="conferenceDates" rex-predicate="'ical:dtend'" rex-literal="endDate" ng-show="endDate != null">
				to {{endDate}}
			</span>	
		</div>

		<!-- location information -->

		<div class="location" rex-predicate="'ical:location'" rex-literal="location" ng-show="location != null">
			in {{location}}
		</div>

		<!-- conference description -->

		<div class="description" rex-predicate="'ical:description'" rex-literal="description" ng-show="description != null">
			{{description}}
		</div>

		<!-- deadlines information -->

		<div>
			<b>Deadlines:</b>	
				<div class="deadline" rex-predicate="'sd:hasRegistrationDeadline'" rex-literal="registrationDeadline" ng-show="registrationDeadline != null">
					register until {{registrationDeadline}}
				</div>	
				<div class="deadline" rex-predicate="'sd:hasPosterDeadline'" rex-literal="posterDeadline" ng-show="posterDeadline != null">
					poster deadline: {{posterDeadline}}
				</div>
				<div class="deadline" rex-predicate="'sd:hasAbstractsDeadline'" rex-literal="abstractsDeadline" ng-show="abstractsDeadline != null">
					abstracts deadline: {{abstractsDeadline}}
				</div>
				<div class="deadline" rex-predicate="'sd:hasPaperDeadline'" rex-literal="paperDeadline" ng-show="paperDeadline != null">
					paper deadline: {{paperDeadline}}
				</div>
		</div>

		<!-- invited speakers information -->

		<div class="invitedSpeakers" rex-nav-predicate="'sd:invitedSpeakers'" rex-nav-targets="targets">
			<div ng-hide="targets.length < 1">
				Invited speakers:
			</div>			
			<ul ng-repeat="speaker in targets" rex-subject="speaker">
				<li rex-predicate="'foaf:name'" rex-literal="speakerName" ng-hide="speakerName === ''">
				<a href="{{speaker}}">{{speakerName}}</a></li>
			</ul>
		</div>

		<!-- program committee information -->

		<div class="programCommittee" rex-nav-predicate="'sd:hasProgramCommittee'" rex-nav-targets="targets">
			<div ng-hide="targets.length < 1">
				Program committee:
			</div>			
			<ul ng-repeat="member in targets" rex-subject="member">
				<li rex-predicate="'foaf:name'" rex-literal="memberName" ng-hide="speakerName === ''">
				<a href="{{member}}">{{memberName}}</a></li>
			</ul>
		</div>

		<!-- participants information -->
 
		<div class="participants" rex-nav-predicate="'sd:hasParticipants'" rex-nav-targets="targets">
			<div ng-hide="targets.length < 1">
				Participants:
			</div>			
			<ul ng-repeat="participant in targets" rex-subject="participant">
				<li rex-predicate="'foaf:name'" rex-literal="participantName" ng-hide="speakerName === ''">
				<a href="{{participant}}">{{participantName}}</a></li>
			</ul>
		</div>

		<!-- contact information -->
		
		<div>
			<span class="contact" rex-predicate="'ical:contact'" rex-literal="contact" ng-show="contact != null" rex-nav-target="target">
				<span rex-predicate="'foaf:name'" rex-literal="contactPersonName">
					for more information contact <a href="{{target}}">{{contactPersonName}}</a>
				</span>
			</span>
			<span class="contact" rex-predicate="'ical:url'" rex-literal="contactURL" ng-show="(contact != null) && (contactURL != null)">
					,or go on <a href="{{contactURL}}">{{contactURL}}</a>
			</span>
		</div>	

		<!-- license information -->
	    <div>
			<span class="licenseInfo" rex-predicate="'cc:license'" rex-literal="license" ng-show="license != null">
					published under the {{license}} license.
			</span>
			<span class="licenseInfo" rex-predicate="'cc:attributionURL'" rex-literal="licenseURL">
					<span class="licenseInfo" rex-predicate="'cc:attributionName'" rex-literal="licenseName" ng-show="license && licenseURL && licenseName">
						See <a href="licenseURL">{{licensename}}</a>for more information
					</span>		
			</span>
		</div>
		View <a href="{{subject.id}}">resource</a> in <a href="http://symbolicdata.org/casn/"> CASN Ontowiki</a>
		<br>
		
		<!-- End of iteration -->
		<br>
	</div>
</div>



<!--

Further attributes:
    dcterms:source
    rdfs:comment
    rdfs:subClassOf
    dcterms:subject
    
-->
