<div
    class="row"
    ng-init="data={}; data.baseIri='data:'; data.dists=[]"
    rex-context
    rex-sparql-service="datasetSparqlService"
    rex-prefix="'sd: http://symbolicdata.org/Data/Model# dcterms: http://purl.org/dc/terms/ rdfs: http://www.w3.org/2000/01/rdf-schema# rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns# bibo: http://purl.org/ontology/bibo/ bibo_degrees: http://purl.org/ontology/bibo/degrees/'"
    rex-lookup="true">

<div ng-repeat="subject in ls.state.items" rex-subject="subject.id">
		<!-- dissertation title -->
		{{subject}}

		<div class="dissTitle" rex-predicate="'dcterms:title'" rex-literal="dissertationTitle" ng-show="dissertationTitle != null">
			{{dissertationTitle}}
		</div>

		<!-- dissertation author -->

		<div class="dissAuthor" rex-predicate="'dcterms:creator'" rex-literal="dissertationAuthor" rex-nav-targets="authors" ng-show="authors.length > 0">				
			<span ng-hide="authors.length < 1">		
				by	
				<span ng-repeat="author in authors" rex-subject="author">
					<span rex-predicate="'foaf:name'" rex-literal="dissertationAuthor">
						<span ng-hide="author === authors[0]">,</span>
							{{dissertationAuthor}}
						</span>
					</span>
				</span>
			</span>
		</div>

		<!-- publication date -->

		<div class="dissDate" rex-predicate="'dcterms:date'" rex-literal="dissertationDate" ng-show="dissertationDate != null">
			publication date: {{dissertationDate}}
		</div>

		<!-- supervisor -->

		<div class="dissSupervisor" rex-predicate="'sd:hasSupervisor'" rex-literal="dissertationSupervisor" ng-show="dissertationSupervisor != null">
			supervised by {{dissertationSupervisor}}
		</div>

		<!-- affiliation -->

		<div class="dissAffiliates" rex-predicate="'sd:affiliates'" rex-literal="dissertationAffiliates" ng-show="dissertationAffiliates != null">
			affiliated with {{dissertationAffiliates}}
		</div>

</div>

<!--
bibo:degree
sd:hasReviewer
rdfs:label
rdfs:comment
-->


