<div
    class="row"
    ng-init="data={}; data.baseIri='data:'; data.dists=[]"
    rex-context
    rex-sparql-service="dissertationSparqlService"
    rex-prefix="'sd: http://symbolicdata.org/Data/Model# dcterms: http://purl.org/dc/terms/ rdfs: http://www.w3.org/2000/01/rdf-schema# rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns# bibo: http://purl.org/ontology/bibo/ bibo_degrees: http://purl.org/ontology/bibo/degrees/ skos: http://www.w3.org/2004/02/skos/core# '"
    rex-lookup="true">

<div ng-repeat="subject in dissListService.state.items" rex-subject="subject.id">
		
		<!-- dissertation title -->

		<div class="dissTitle" rex-predicate="'dcterms:title'" rex-literal="dissertationTitle" ng-show="dissertationTitle != null">
			{{dissertationTitle}}
		</div>

		<div class="dissTitle" rex-predicate="'dcterms:title'" rex-literal="dissertationTitle" ng-show="dissertationTitle == null">
			title doesn't exist
		</div>

		<div class="dissAuthor" rex-predicate="'dcterms:creator'" rex-literal="dissertationAuthor" ng-show="dissertationAuthor == null">	
			author doesn't exist
		</div>

		<!-- dissertation author -->

		<div class="dissAuthor" rex-predicate="'dcterms:creator'" rex-literal="dissertationAuthor" rex-nav-targets="authors" ng-show="authors.length > 0">				
			<span ng-hide="authors.length < 1">		
				by	
				<span ng-repeat="author in authors" rex-subject="author">
					<span rex-predicate="'foaf:name'" rex-literal="dissertationAuthor">
						<span ng-hide="author === authors[0]">,</span>
							{{dissertationAuthor}}
						</span>
					</span>
				</span>
			</span>
		</div>

		<!-- publication date -->

		<div class="dissDate" rex-predicate="'dcterms:date'" rex-literal="dissertationDate" ng-show="dissertationDate != null">
			publication date: {{dissertationDate}}
		</div>

		<!-- supervisor -->

		<div class="dissSupervisor" rex-nav-predicate="'sd:hasSupervisor'" rex-nav-targets="supervisors">
			<div ng-hide="supervisors.length > 1" rex-subject="supervisors[0]">
				<div rex-predicate="'foaf:name'" rex-literal="supervisorName">
					supervised by <a href="{{supervisors[0]}}">{{supervisorName}}</a>
				</div>
			</div>
			<span ng-hide="supervisors.length <= 1" ng-repeat="supervisor in supervisors">
				<span rex-subject="supervisor" rex-predicate="'foaf:name'" rex-literal="supervisorName" ng-show="supervisorName != null">
					<span ng-show="supervisor === supervisors[0]">
						supervised by <a href="{{supervisor}}">{{supervisorName}}</a>
					</span>
					<span ng-hide="(supervisor === supervisors[0]) || (supervisor === supervisors[supervisors.length - 1])">
						,<a href="{{supervisor}}">{{supervisorName}}</a>
					</span>
					<span ng-show="supervisor === supervisors[supervisors.length - 1]">
						and <a href="{{supervisor}}">{{supervisorName}}</a>
					</span>
				</span>
			</span>
		</div>

		<!-- affiliation -->

		<div class="dissAffiliates" rex-nav-predicate="'sd:affiliates'" rex-nav-targets="dissertationAffiliates">
			<div rex-subject="dissertationAffiliates[0]">
				<div rex-predicate="'skos:prefLabel'" rex-literal="institutionName">
					affiliated with <a href="{{dissertationAffiliates[0]}}">{{institutionName}}</a>
				</div>
			</div>
		</div>

		View <a href="{{subject.id}}">resource</a> in <a href="http://symbolicdata.org/casn/"> CASN Ontowiki</a>
		<br>
		<br>

</div>

<!--
bibo:degree
sd:hasReviewer
rdfs:label
rdfs:comment
-->


